# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (שומר על הסיסמאות וההגדרות שלך מחוץ לגיט)
.env
.env.*
!.env.example

# VS Code & IDE settings
.vscode/*
!.vscode/settings.json

# Local files & Uploads (קבצים שה-API שלך מייצר/שומר)
storage/
uploads/
*.klv
*.bin
*.log

# OS files
.DS_Store
Thumbs.db

.vscode